// COLORS
$main-bg-color: #ECECEC;
$text-color: #7A7A7A;
$accent-color: rgb(0, 150, 136);
$warning-color: #E75753;


// VARIABLES
$left-sidenav-width: 110px;
$widget-height: 310px;
$font-weight-bold: 600;
$font-size-large: 22px;


// LAYOUT
body {
  color: $text-color;
}

.toolbar-button {
  min-width: 20px;
}

.share-label {
  vert-align: middle;
  margin-left: 10px;
}

.page-content {
  background-color: $main-bg-color;
}

.widget-progress {
  width: 95% !important;
  margin-left: 10px;
}


// UTILS
.capitalize {
  text-transform: capitalize;
}

.img-circle {
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
}


// COMPONENTS
.messages {
  position: relative;

  &-content {
    height: 100vh;
  }
}

.notifications-label {
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  font-size: 12px;
  top: 2px;
  right: 2px;
  background-color: $warning-color;
}

// panel-widget
.panel-widget {
  background-color: white;

  &-toolbar {
    box-shadow: none;
    margin: 0;
  }

  &-tittle {
    color: $text-color;
  }
}

.options {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.options.ng-hide {
  opacity:0;
}

.fixed-height-widget {
  height: $widget-height;
}

// charts
.donut-chart-title{
  text-align: center;
}

.custom-tooltip {
  font-size: $font-size-large;
  color: $text-color;
  text-align: center;
}


// OVERRIDES
// angular material overrides
md-radio-group {
  border: none;
}

md-icon {
  height: auto;
}

md-sidenav.md-locked-open.md-sidenav-left {
  width: $left-sidenav-width;
  min-width: $left-sidenav-width;
  max-width: $left-sidenav-width;
}

a.md-button.md-warn.md-raised, a.md-button.md-warn.md-fab, .md-button.md-warn.md-raised, .md-button.md-warn.md-fab {
  color: white;
}

md-radio-button.md-accent.md-checked .md-label span {
  color: $accent-color;
}

.md-toolbar-tools h1 {
  font-size: $font-size-large;
}


md-backdrop.md-sidenav-backdrop {
  position: fixed;
}

// libs overrides
.material-icons {
  vertical-align: middle;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.nvd3.nv-pie .nv-pie-title {
  fill: rgb(68, 68, 68);
  font-weight: $font-weight-bold;
  font-size: $font-size-large !important;
}

.nvtooltip {
  background-color: transparent;
  border: none;
  font-weight: $font-weight-bold;
}

.orange .md-bar2 {
  background-color: orange;
}

.orange .md-container {
  background-color: rgb(255, 236, 201)
}
// Login screen
.logo {
  width: 10%;
}

.login-heading {
  margin-top: 0px;
}

#signup-button{
  border-color: #757575;
  border-width: 7px;
  color: #757575;
  font-weight: bold;
  margin-left: auto;
  margin-right: 7px;
  margin-top: 15PX;
  cursor: pointer;
}

.input-container{
  margin:1px;
}

.login-content{
  width: 23%;
}

.login-button{
  font-weight:bolder;
  margin: 0 6px 6px 0;
}

.alert{
  padding:14px;
  background-color:#F2DEDE;
  border-color: #EBCCD1;
  color: #B94A48;
  border-radius: 4px;
}

.closebtn{
  margin-left: 15px;
  color: #B94A48;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

// Dashboard
.add-download-box {
  background-color: white;
  text-align: center;

  .downlod-input-box {
    width: 80%;
    margin-bottom: 0px;
  }
}

.downloads {
  margin-top: 10px;
}

#vertalign{
  padding-top: 3%;
}

// Admin

.block {
  margin-top: 10px;
}

#approve-btn {
  padding-top: 0px;
  padding-bottom: 0px;
  vertical-align: center;
}

.alert {
  padding:14px; background-color:grey; color: white;
}

.closebtn.msg {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

//Signup design

form {
  width: 380px;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group {
  position: relative;
  margin-bottom: 45px;
}


/* Underline */

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #757575;
  transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }



/* Highlight */

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}



.has-error  {
    color: #f39c12;
}

.has-success {
    color: #18bc9c;
}


.inputStyle {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  background: #fafafa;
  color: #636363;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575;
}

.inputStyle:focus { outline: none; }

/* active */

.inputStyle:focus ~ label, .inputStyle.used ~ label {
  top: -20px;
  transform: scale(.75); left: -2px;
  /* font-size: 14px; */
  color: #4a89dc;
}

.inputStyle:focus ~ .bar:before, .inputStyle:focus ~ .bar:after { width: 50%; }

.inputStyle:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

/* no data */

.no-data-content {
  font-size: 20px;
  border: black;
  height: 150px;
  width: 700px;
  color: grey;
  text-align: center;
  padding-top: 85px;
  margin-left: 285px;
  margin-top: 150px;
}
