<div class="js-sticky">
  <div class="fh5co-main-nav">
    <div class="container">
      <div class="fh5co-menu-1" >

	<a href="#" data-nav-section="home"><img src="https://raw.githubusercontent.com/scorelab/Bassa/develop/ui/src/assets/images/bassa.png"  style="height: 40px;" alt=""></a>

	{{ if .Site.Params.mission.enable }}
	<a href="#" data-nav-section="mission">{{ with .Site.Params.nav.mission }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}

	{{ if .Site.Params.services.enable }}
	<a href="#" data-nav-section="services">{{ with .Site.Params.nav.services }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}

	{{ if .Site.Params.team.enable }}
	<a href="#" data-nav-section="team">{{ with .Site.Params.nav.team }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}

	{{ if .Site.Params.contact.enable }}
	<a href="#" data-nav-section="contact">{{ with .Site.Params.nav.contact }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}
	
      </div>
    </div>
  </div>
</div>
