<div layout-gt-md="column" layout-align="center">

  <md-content class="md-padding" layout="row" layout-sm="column">
      <md-subheader class="md-primary">Start/Kill all downloads</md-subheader>

      <br>

      <md-button class="md-raised md-primary" ng-click="start()">
          Start
      </md-button>
      <md-button class="md-raised md-warn" ng-click="kill()">
          Kill
      </md-button>
  </md-content>

 <md-content class="block md-padding table-responsive-vertical" >
    <md-subheader class="md-primary">Signup requests</md-subheader>

    <table id="table" class="table table-hover table-bordered signup-requests-table">
        <tbody>
        <tr ng-repeat="data in signup_requests">
            <td data-title="ID">{{$index + 1}}</td>
            <td data-title="Name">{{data.user_name}}</td>
            <td data-title="Email">{{data.email}}</td>
            <td id="approve-btn">
              <md-button class="md-raised" ng-click="approve(data.user_name)">
                  <i class="material-icons">done</i>
              </md-button>
            </td>
        </tr>
        </tbody>
    </table>

  </md-content>

  <md-content class="block md-padding table-responsive-vertical" >
    <md-subheader class="md-primary">Usage of top heaviest users</md-subheader>
    <nvd3 options="chartOptions" data="usageChartData"></nvd3>
  </md-content>

</div>
