<div layout-gt-md="column" layout-align="center">

  <md-content class="add-download-box" >
    <md-input-container flex class="downlod-input-box">
        <label>Add download</label>
        <input ng-model="dlink.link" name="taskText" type="text" required>
    </md-input-container>
    <md-button class="md-fab md-wayrn md-mini" ng-click="addLink()">
        <i class="material-icons">add</i>
    </md-button>
  </md-content>

  <md-content class="downloads md-padding table-responsive-vertical" >
    <h4 class="panel-widget-tittle"> On going downloads</h4>
      <!-- <div class="table-responsive-vertical md-whiteframe-z1"> -->
    <table id="table" class="table table-hover table-bordered">
        <thead>
        <tr ng-repeat="data in downloads">
            <td style="padding-top: 3%" data-title="ID">{{$index + 1}}</td>
            <td style="padding-top: 3%" data-title="Issue">{{data.download_name}}</td>
            <td style="padding-top: 3%" data-title="Progress">
              <md-progress-linear
                md-mode="determinate"
                value="{{data.progress}}">
              </md-progress-linear>
            </td>
            <td><md-button class="md-fab md-warn md-mini" ng-click="removeLink(data.id)">
                <i class="material-icons">delete</i>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
<!-- </div> -->

  </md-content>

</div>

