<div layout-gt-md="column" layout-align="center">

  <md-content class="add-download-box" >
    <md-input-container flex class="downlod-input-box" ng-keyup="addDownload($event)">
        <label>Add download</label>
        <input ng-model="dlink.link" name="taskText" type="text">
    </md-input-container>
    <md-button class="md-fab md-wayrn md-mini" ng-click="addLink()">
        <i class="material-icons">add</i>
    </md-button>
  </md-content>

  <div ng-if="data.length != 0">
    <md-content class="downloads md-padding table-responsive-vertical" >
      <h4 class="panel-widget-tittle"> On going downloads</h4>
      <table id="table" class="table table-hover table-bordered">
          <thead>
          <tr ng-repeat="data in downloads track by $index">
              <td id="vertalign" data-title="ID">{{$index + 1}}</td>
              <td id="vertalign" data-title="Issue">{{data.download_name}}</td>
              <td id="vertalign" data-title="Progress">
                <md-progress-linear
                  md-mode="determinate"
                  value="{{data.progress}}">
                </md-progress-linear>
              </td>
              <td><md-button class="md-fab md-warn md-mini" ng-click="removeLink($index, data.id,$event)">
                  <i class="material-icons">delete</i>
                  </md-button>
              </td>
          </tr>
          </thead>
      </table>
    </md-content>
  </div>

  <div ng-if="data.length == 0">
    <md-content class="no-data-content" >
      <h4>There are no queued downloads, please add some!</h4>
    </md-content>
  </div>

</div>

