<div layout="column" layout-align="center center" class="">
  <img class="logo" ng-src="assets/images/logo.png">
  <h1 class="md-display-2 login-heading">Login to Bassa</h1>
  <div layout="row">
    <md-input-container>
      <label>User name</label>
      <input type="text" ng-model="user.user_name"/>
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input type="password" ng-model="user.password"/>
    </md-input-container>
    <br>
  </div>
  <div>
    <md-button class="md-raised md-primary" ng-click="login()">Login</md-button>
    <md-button class="md-raised md-primary" ng-click="signup()">Signup</md-button>
  </div>
</div>
