<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
            class="md-whiteframe-z2 md-sidenav-left">
  <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2">
    <md-button layout="row" layout-align="center center" class="md-toolbar-tools md-warn" onClick="parent.open('https://github.com/scorelab/Bassa')">
    <img class="" src="assets/images/bassa.png">
    </md-button>
  </md-toolbar>
      <md-button ng-repeat-start="item in menuItems" layout="column" layout-align="center center"
                 flex class="capitalize" ng-click="selectItem(item)"
                 ui-sref-active="md-warn" ui-sref="{{item.sref}}">
          <div hide-sm hide-md class="md-tile-content">
              <i class="material-icons md-36">{{item.icon}}</i>
          </div>
          <div class="md-tile-content">
              {{item.name}}
          </div>
      </md-button>
      <md-divider ng-repeat-end></md-divider>
</md-sidenav>

<div layout="column" flex>
    <md-toolbar layout="row" layout-align="center center">
        <section layout-align="start center" layout-fill flex>
        </section>
        <section layout-align="center center">
          <p>Hi {{username}}</p>
        </section>
        <section layout-align="end center">
            <md-button ng-click="logout()" ui-sref="login">
            <md-tooltip> Log out </md-tooltip>
            <i class="fa fa-power-off" style="color:maroon"></i> </md-button>
        </section>
    </md-toolbar>

    <md-content flex class="md-padding page-content">
        <div ui-view></div>
    </md-content>
</div>
