<div layout="column" layout-align="center center" class="">
  <h1 class="md-display-2 login-heading">Sign up for Bassa</h1>

  <form name="loginForm" novalidate>
    <div class="group" ng-class="{'has-error': loginForm.user_name.$invalid && loginForm.user_name.$dirty, 'has-success': loginForm.user_name.$valid }">
      <input type="user_name" class="form-control inputStyle" placeholder="Username" name="user_name" ng-model="user.user_name" ng-minlength="3" ng-maxlength="15" required/><span class="highlight"></span><span class="bar"></span>
      <p class="help-block" ng-if="loginForm.user_name.$invalid && loginForm.user_name.$dirty">Username should be more than 3 characters and less than 15</p>
    </div>

    <div class="group" ng-class="{'has-error': loginForm.email.$invalid && loginForm.email.$dirty, 'has-success': loginForm.email.$valid }">
      <input type="email" class="form-control inputStyle" placeholder="Email" name="email" ng-model="user.email" required/><span class="highlight"></span><span class="bar"></span>
      <p class="help-block" ng-if="loginForm.email.$invalid && loginForm.email.$dirty">Please Enter a valid email address</p>
    </div>

    <div class="group" ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$dirty, 'has-success': loginForm.password.$valid}">
      <input type="password" class="form-control inputStyle" placeholder="Password" name="password" ng-model="user.password" required ng-change="validatePwd()"/><span class="highlight"></span><span class="bar"></span>
      <p class="help-block" ng-if="loginForm.password.$invalid && loginForm.password.$dirty" ng-bind-html="errorMsg"></p>
    </div>

    <div class="group" ng-class="{'has-error': user.confirm_password != user.password, 'has-success': user.confirm_password == user.password}">
      <input type="password" class="form-control inputStyle" placeholder="Confirm Password" name="confirm_password" ng-model="user.confirm_password" ng-minLength="8" required ng-enter="login()"/><span class="highlight"></span><span class="bar"></span>
      <p class="help-block" ng-if="user.confirm_password != user.password && user.confirm_password != 0">Password did not match!</p>
    </div>

    <center>
      <md-button class="md-raised md-primary" ng-click="back()">Back</md-button>
      <md-button class="md-raised md-primary" ng-disabled="loginForm.emails.$invalid || loginForm.password.$invalid || loginForm.confirm_password.$invalid || loginForm.user_name.$invalid || user.confirm_password != user.password" ng-click="signup()">Signup</md-button>
    </center>
  </form>

</div>

