<html ng-app="bassa">
<div class="table-responsive-vertical md-whiteframe-z1">
    <table id="table" class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>User</th>
	    <th>Download name</th>
            <th>More</th>
            <th>Completed time</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="data in downloads">

		
            <td data-title="ID">{{$index + 1}}</td>
            <td data-title="User">{{data.user_name}} </td>
	  <td class="part" data-title="Issue">{{data.download_name}}</td>
	    <td data-title="More"><div class="dropdown">
  <button class="dropbtn">Details</button>
  <div class="dropdown-content">
    <li class="edit"><i class="fa fa-file"></i> FileSize : {{data.size}}</l1>
    <li class="edit"><i class="fa fa-cloud-download"></i> Downloaded On : {{ (data.completed_time*1000) | date : "h:mm a d MMM, y " }}</li>
    <li onclick="remove()" id="remove" class="edit"><i class="fa fa-trash"></i> Remove</li>
  </div>
</div></td>
            <td data-title="Completed time" am-time-ago="data.completed_time|amFromUnix"></td>
        </tr>
        </tbody>
    </table>
</div>
</html>
<script type="text/javascript">
$(".but").click(function() {
  $('.info').toggleClass('info-active');
  $('.part').toggleClass('part-active');
});
function remove() {
var question = confirm("Are you sure you want to delete this file ?");
}
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
